body{
    background-color: rgb(219, 209, 209);
    margin: 0px;
}
h2{
    display: grid;
    place-content: center;
    color: #d39ca3;
}
#banner{
  width: 100%;
  height: 250px;
}
#form-mensaje{
    resize: vertical;
    height: 150px;
}
#formulario{
    display: grid;
    place-content: center;
}
#formulario>input, #formulario>textarea{
    background-color: rgb(233, 233, 207);
    margin: 5px;
}
li{
    display: grid;
    place-content: center;
}
