body {
    background-color: rgb(219, 209, 209);
    margin: 0;    
    background-attachment: fixed;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("background.jpg");
  background-repeat: repeat;
  background-size: 800px;
  opacity: 0.3; 
  z-index: -1;
}

.banner {
  position: relative;
  background-image: url("banner.jpg");
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 100%;
}

/* Navbar encima */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 55px;
  display: flex;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* Contenido del banner */
.contenido-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}



h2{
    display: grid;
    place-content: center;
    color: #d39ca3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#banner{
  width: 100%;
  height: 180px;
}
#form-mensaje{
    resize: vertical;
    height: 150px;
}
#formulario{
    display: grid;
    place-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(175, 0, 0);
}
#formulario>input, #formulario>textarea{
    background-color: rgb(233, 233, 207);
    margin: 5px;
}
li{
    display: grid;
    place-content: center;
}
