body {
    background-color: black;
    display: grid;
    place-items: center;
    height: 100vh;
}
path{
    fill: #332d72;
    animation-name: animacion-p3; 
    animation-duration: 1s;
    animation-iteration-count: infinite
}
@keyframes animacion-p3 {
    20%{
        fill: rgb(211, 192, 192);    
    }
    40%{
        fill: rgb(211, 44, 22);
    }    
    60%{
        fill: rgb(161, 161, 184)
    }    
    80%{
        fill: rgb(167, 122, 140);
    }
}