body {
    background-color: rgb(219, 209, 209);
    display: grid;
    place-items: center;
    height: 100vh;
}
path{
    fill: #332d72;
    animation-name: animacion-p3; 
    animation-duration: 1s;
    animation-iteration-count: infinite
}
@keyframes animacion-p3 {
    20%{
        fill: rgb(192, 156, 186);    
    }
    40%{
        fill: rgb(179, 58, 42);
    }    
    60%{
        fill: rgb(161, 161, 184)
    }    
    80%{
        fill: rgb(167, 122, 140);
    }
}