body{
    background-color: rgb(219, 209, 209);
    margin: 0;
}
#banner{
  width: 100%;
  height: 250px;
}

.redes{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
}

.redes a{
    font-size:28px;
    color:white;
    text-decoration:none;
    background:#222;
    padding:12px;
    border-radius:50%;
    transition:0.3s;
}

.redes a:hover{
    transform:scale(1.2);
    background:#ff4c60;
}

.video{
    display: flex;
    justify-content: center;
    margin-top: 30px;   
}
.proxfechas{
    display: grid;
    place-content: center;
    color: #ff4c60;
    margin-top: 30px;

}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    place-content: center;
    color: #d39ca3;
    margin-top: 30px;
}
p{
    display: grid;
    place-content: center;
    place-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: #222;
}
.fechasanteriores{
    display: grid;
    place-content: center;
    color: #ff4c60;
    margin-top: 30px;
}
#tabla{
    color: rgb(167, 60, 60);
    text-align: center;
    border: 2px solid rgb(167, 60, 60);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.flyer{
    width: 100px;
    height: auto;
    transition: 0.3s ease;
}
.flyer:hover {
  transform: scale(4);
}
.flyer2{
    width: 100px;
    height: auto;
    transition: 0.3s ease;
}
.flyer2:hover{
      transform: scale(4);
}
#contador {
  font-size: 30px;
  color: #d39ca3;
  background: rgb(175, 0, 0);
  padding: 20px;
  text-align: center;
  border: 3px solid #d39ca3;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}