body {
    background-color: rgb(219, 209, 209);
    display: grid;
    place-items: center;
    height: 100vh;
}
path{
    fill:red;
    animation-name: animacion-p3; 
    animation-duration: 1s;
    animation-iteration-count: infinite
}
@keyframes animacion-p3 {
    20%{
        fill: rgb(219, 209, 209);    
    }
    40%{
        fill: red;
    }    
    60%{
        fill: rgb(219, 209, 209);
    }    
    80%{
        fill: red;
    }
}
